/* This is the universal selector */
/* *   {

    color: pink;
    background-color: green;

} */

/* This is going to change the background color for the body of the html files */
body {
    background-color: beige;
}
/*this is going to change the font size for ALL buttons  */
button {
    font-size: 30px;
}

/*this is changing the color for Header 1 and Header 2  */
h1, h2 {
    color: rgb(9, 89, 2);
}

/*This speciefes the signup button because we used the id and change it colors  */
#signup {
    background-color: pink;
    color: blue;
}

/* This is a class selector that you can use to change certain classes */
.QB{
    color: blue;
}

/* this is to edit the anchor tags in a class called post */
.post a {
    color: hotpink;
}
/* This is to edit all anchor tags in footer, this is a descendant selector */
footer > a{
    color: red;
}
/* This is an attribute selector where you can edit the text attributes in this input */
input[type="password"]{
    color: aquamarine;
}

input[type="text"]{
    color: blueviolet;
}
/*Looks for specific characters within href attributes  */
a[href*="google"]{
    color: darkgoldenrod;
}
/* This is pseudo class, it adds a special state to a specific element in this case we changed the color when we hover over a button */
button:hover {
    background-color: red;
    color: aqua;
}
/* This is pseudo class that changes the background color to when the button is active */
.post button:active {
    background-color: darkgreen;
}
/* this is a pseudo element changing the first letter of all <h2> tags */
h2::first-letter {
    font-size: 50px;
}
/*this is a pseudo element changing the first line for the <p> tag  */
p::first-line {
    color: violet;
}